@tailwind base;
@tailwind utilities;

:root {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	--color-theme-1: #7a7a7a;
	--color-theme-2: #40b3ff;
	--color-text: white;
	--bg-color: rgb(68 64 60 / 0.8);
	--bg-color-hover: rgb(68 64 60);
	--header-bg: var(--bg-color);
	color: var(--color-text);
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom center;
	background-image: url("/img/tausta.png");
}


.bg {
	background-color: var(--bg-color);
}

button, .button {
	background-color: var(--bg-color);
	&:hover:not([disabled]) {
		background-color: var(--bg-color-hover);
	}
	@apply p-2;	
}


h1 {
	font-size: 3.75rem;
	line-height: 1;
	margin: 5px 0 10px 0;
}

h2 {
	font-weight: bold;
	font-size: xx-large;
	margin: 5px 0 10px 0;
}

h3 {
	font-size: x-large;
	margin: 5px 0 10px 0;
}

p {
	margin-bottom: 0.75rem;
	line-height: 1.625;
}